# Python Summary

### Compiled by :
      Alem H Fitwi (PhD)       
      December 2021

### Summary: why python?
- Open source (No need of license, it is free)
- It has syntax as simple as English coding
- It has very large collaborative developer community
- It has helpful and powerful modules like pandas and scickitlearn

- An **object** is simply a collection of data (variables) and methods (functions) that act on those data.

### Commands

            Jupyter, Spyder, Sublimetext, 
            Thonny IDE, Atom, VSCode, ...
            Or on a note pad and run it on CLI
            ----------------------------------
            cd: change directory
            dir: list directories
            cd ..: towards root
            cls: clear screen
            where python (locates python)
            -----------------------------
            alt+ctrl+T: cmd prompt
            pwd: working directory
            ls: list
            ls -a: including hidden files
            ls -l: Files/folders and privilege details
            clear: clear screen
            cd or cd ..
            which python (locates python)
            python3 : to python interactive interface
            ctrl + D: exit PII
            ---------------------------------
            <img src = './0_figs/func.jpg'>
            
            from IPython.display import Image
            Image('./0_figs/func.jpg')
            
            ![alt text](imagename.png "Title")
            ![alt text](./0_figs/func.jpg "Function")

### Elements of Natural and Machine Language
A language has to be correct alphabetically, lexically, & sytactically.
- A language is a means (and a tool) for expressing and recording thoughts.
- **Instruction list (IL)**: A complete set/list of known commands
- **Alphabet**:a set of symbols used to build words of a certain language or IL
- **Lexis**: (aka a dictionary) a set of words the language offers its users
- **Syntax**: a set of rules (formal or informal, written or felt intuitively) used to determine if a certain string of words forms a valid sentence (e.g., "I am a python" is a syntactically correct phrase, while "I a python am" isn't).
- **Semantics**: a set of rules determining if a certain phrase makes sense (e.g., "I ate a doughnut" makes sense, but "A doughnut ate me" doesn't).
- **COMPILATION (compiler)**: takes entire program and converts it into object code which is typically stored in a file. The object code is also refereed as binary code and can be directly executed by the machine after linking. Examples: C, C++, ...
        
        Preprocessor --> Compiler --> Assembler --> Linker
        C/C++ --> Preprocessing --> reduced C/C++ --> Compiled --->.s--> Assembling --> OC/MC ---> Linked --> .exe
        1. Preprocessing: remove comments, interpret #processors or #headers (reduce repetition)
        2. Compilation: Convert code to assembly instructions (.s)
        3. Assembling: Converting assembly instructions to object code/Machine Code (.o)
        4. Linking: Link object code with pre-compiled library functions and produce Executable machine code (.exe)
- **INTERPRETATION (Interpreter)**: directly executes instructions written in a programming or scripting language without previously converting them to an object code or machine code. Examples of interpreted languages are Perl, Python and Matlab. 
    - Python, like Java, cannot be completely classified as an interpreted language nor a compiled language. It’s a little of both.  Being compiled in this instance means being translated to a lower level language not dependent on any one type of platform. Unlike Java or C, we don’t specifically run a compilation command for Python. We invoke the script with a command like python3 hello_world.py, where “hello_world.py” is the name of our file and it executes. Where does it go from there? In Python, compilation occurs as needed – and only if it’s needed. Comparable to Java, Python turns into an intermediary code called bytecode. This is the code to be read by the interpreter in the Python Virtual Machine. This translates the code so that your machine can read it.
    - This graphic shows the journey Python code makes to becoming readable by your computer.

            Invoke .py file --> machine independent ByteCode --> PVM --> MC
- **Hybrid**: Python, Java

        Java --> Compiled --> ByteCode --> Interpreted (JVM) --> Object Code/Machine Code 
        Python --> Compiled --> ByteCode --> Interpreted (PVM) --> Object Code/Machine Code
- **Source Code**:the list of human-readable instructions/statements that a programmer writes/creates
- **Object Code**:
- **Byte Code**: Compiled and assembled source coded. a machine code represented a string of 0s and 1s.
- Console/Python Console/Python Shell/Shell
- A tool named a debugger, able to launch your code step by step and allowing you to inspect it at each moment of execution.

- .py source -- compiler -- Bytecode -- Interpreter (PVM) -- ML
- PVM addresses the cross-platform issue

### Types of Errors
1. **Syntax Error (SyntaxError)**: Py structural/rule related errors. compiler / interpreter
2. **Run Time Error/Exception Error**: Exceptions raised during run-time. compiler / interpreter
3. **Semantic Error**: Logical error of a programmer. Programmer using test-cases.

### Keywords and Identifier
- Keywords are the reserved words in Python. We cannot use a keyword as a variable name, function name or any other identifier. They are used to define the syntax and structure of the Python language.
- There are 35 keywords in Python 3.7.4. This number can vary slightly in the course of time. All the keywords except True, False and None are in lowercase and they must be written as it is. The list of all the keywords is given below.

In [18]:
import keyword
from platform import python_version

print(f"There are {len(keyword.kwlist)}"+
      f" keywords in Python {python_version()}")
print()
print(keyword.kwlist)

There are 35 keywords in Python 3.7.4

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

- An identifier is a name given to entities like class, functions, variables, etc. It helps to differentiate one entity from another.
    - Identifiers can be a combination of letters in lowercase (a to z) or uppercase (A to Z) or digits (0 to 9) or an underscore _. Names like myClass, var_1 and print_this_to_screen, all are valid example.
    - An identifier cannot start with a digit. 1variable is invalid, but variable1 is perfectly fine.
    - Keywords cannot be used as identifiers
    - We cannot use special symbols like punctuations, at, hash/ladder, dollar sign,percent, etc. in our identifier. 
    - Identifier can be of any length.

- Things to Remember
    - Python is a case-sensitive language. This means, Variable and variable are not the same. Always name identifiers that make sense.
    - While, c = 10 is valid. Writing count = 10 would make more sense and it would be easier to figure out what it does even when you look at your code after a long gap.
    - Multiple words can be separated using an underscore, this_is_a_long_variable.

### Statements & Comments
- Instructions that a Python interpreter can execute are called statements.
- Single-line statement

In [19]:
a=1

- Multi-line statement: using **line continuation characters**

        \
        ()
        []
        {}

In [24]:
# \ line continuation character
a = 1 + 2 + 3 + \
    4 + 5 + 6 + \
    7 + 8 + 9
a

45

In [25]:
# Using ()
a = (1 + 2 + 3 +
    4 + 5 + 6 +
    7 + 8 + 9)
a

45

In [26]:
# Using []
colors = ['red',
          'blue',
          'green']
colors

['red', 'blue', 'green']

In [27]:
# Using {}
bb = {
    'Alem':6,
    'Brook':8,
    'Tsega':90,
    'Emma': 11
}
bb

{'Alem': 6, 'Brook': 8, 'Tsega': 90, 'Emma': 11}

### Multiple Statements on a Single Line
- separate each statement with a semicolon.

In [29]:
import sys; x = 'foo'; sys.stdout.write(x + '\n')

foo

### Python Indentation
- Most of the programming languages like C, C++, Java use braces { } to define a block of code. Python uses indentation.
- The enforcement of indentation in Python makes the code look neat and clean. This results into Python programs that look similar and consistent.
- Indentation can be ignored in line continuation. But it's a good idea to always indent. It makes the code more readable.

In [28]:
for i in range(1,4):
    print(i)
    if i == 2:
        break

1
2

### Quotation in Python¶

In [34]:
word = 'word'
qinq = "alem's"
qinq2 = 'alem\'s'
qinq3 = "alem\"s"
qinq = 'alem\"s'
sentence = "This is a sentence."
paragraph = """This is a paragraph. It is
made up of multiple lines and sentences."""

In [30]:
print("Strings in two"+
     " lines")

Strings in two lines

### Python Comments
- Python Interpreter ignores comment.
- Single/Multi-line comments

In [35]:
#This is a comment
#print out Hello
"""This is also a
perfect example of
multi-line comments"""
print('Hello')

Hello

### Docstring in Python
- Docstring is short for documentation string. It is a string that occurs as the first statement in a module, function, class, or method definition. We must write what a function/class does in the docstring. Triple quotes are used while writing docstrings.

In [36]:
def double(num):
    """Function to double the value"""
    return 2*num

In [37]:
print(double.__doc__)

Function to double the value

### print() statement and Output formatting
- print(*objects, sep=' ', end='\n', file=sys.stdout, flush=False)
    - sep impacts only arguments not a list

In [41]:
print(1,2,3,4, sep='*', end='#')

1*2*3*4#

In [42]:
print([1,2,3,4],sep='*', end='#')

[1, 2, 3, 4]#

In [44]:
print(1,sep='*', end='#')

1#

In [43]:
print('\n',[1,2,3,4],sep='*', end='#')

*[1, 2, 3, 4]#

- Sometimes we would like to format our output to make it look attractive. This can be done by using the str.format() method. This method is visible to any string object.

In [45]:
x = 5; y = 10
print('The value of x is {} and y is {}'.format(x,y))

The value of x is 5 and y is 10

In [46]:
print('I love {0} and {1}'.format('bread','butter'))

I love bread and butter

In [47]:
print('I love {1} and {0}'.format('bread','butter'))

I love butter and bread

In [61]:
x, y = 12.3456789, 6.7843789
print('I love {0:0.5f} and {0:0.4f}'.format(x,y))

I love 12.34568 and 12.3457

In [64]:
print('I love {0:0.5f} and {0:18.4f}'.format(x,y))

I love 12.34568 and            12.3457

- We can even use keyword arguments to format the string.

In [48]:
print('Hello {name}, {greeting}'.format(
    greeting = 'Goodmorning', name = 'John'))

Hello John, Goodmorning

In [62]:
x = 12.3456789
print('The value of x is %0.5f' %x)
print('The value of x is %0.4f' %x)
print('The value of x is %12.1f' %x)
print('The value of x is %d' %x)
print('The value of x is %s' %x)

The value of x is 12.34568
The value of x is 12.3457
The value of x is         12.3
The value of x is 12
The value of x is 12.3456789

In [2]:
x = 12.3456789
print(f'The value of x is: {x:0.3f}')
print(f'The value of x is: {x:10.3f}')

The value of x is: 12.346
The value of x is:     12.346

In [79]:
print('He said his name was %s.' %'Fred')
print('He said his name was %r.' %'Fred')

He said his name was Fred.
He said his name was 'Fred'.

### Input()

In [66]:
num = input('Enter a number: ')
num

Enter a number: 67

'67'

In [67]:
num = int(input('Enter a number: '))
num

Enter a number: 67

67

In [68]:
num = float(input('Enter a number: '))
num

Enter a number: 78

78.0

In [70]:
num=eval(input('Enter a number: '))
num

Enter a number: 89

89

In [71]:
eval("5+6") # but int('2+3') is not possible

11

In [72]:
int('2+3')

ValueError: invalid literal for int() with base 10: '2+3'

In [73]:
lst=input().split(',')
lst

7,8,9,9

['7', '8', '9', '9']

In [74]:
list(map(int,lst))

[7, 8, 9, 9]

In [75]:
lst=input().split(',')
lst

etertesr

['etertesr']

### Import Packages/Libraries
- When our program grows bigger, it is a good idea to break it into different modules. A module is a file containing Python definitions and statements. Python modules have a filename and end with the extension .py.

- Definitions inside a module can be imported to another module or the interactive interpreter in Python. We use the import keyword to do this. For example, we can import the math module by typing in import math.

In [77]:
import math
print(f"pi = {math.pi}")

pi = 3.141592653589793

In [78]:
from math import pi
pi

3.141592653589793

In [79]:
#Files, I/O, regular expressions and OS
import os
import io
import shutil # shutil.copy()
import glob # grab file paths
import sys
import re
import warnings
warnings.simplefilter("ignore")
import platform

In [80]:
os.getcwd()

'/home/alem/0_Alem/alemprojects/FinalNotes/1.1_Python'

In [81]:
os.path.join(os.getcwd(), 'alem.txt')

'/home/alem/0_Alem/alemprojects/FinalNotes/1.1_Python/alem.txt'

In [82]:
source = "/home/User/Documents/file.txt"
destination = "/home/User/Documents/file.txt"
try:
    shutil.copy(source, destination)
    print("File copied successfully.") 
except shutil.SameFileError:
    print("Source and destination represents the same file.")
except PermissionError:
    print("Permission denied.")
except:
    print(f"Error: {sys.exc_info()[0]}")

Error: <class 'FileNotFoundError'>

In [83]:
glob.glob(os.getcwd()+"*.py")

[]

In [84]:
sys.path

['/home/alem/0_Alem/alemprojects/FinalNotes/1.1_Python',
 '/home/alem/anaconda3/lib/python37.zip',
 '/home/alem/anaconda3/lib/python3.7',
 '/home/alem/anaconda3/lib/python3.7/lib-dynload',
 '',
 '/home/alem/.local/lib/python3.7/site-packages',
 '/home/alem/anaconda3/lib/python3.7/site-packages',
 '/home/alem/anaconda3/lib/python3.7/site-packages/IPython/extensions',
 '/home/alem/.ipython']

In [105]:
print('User Name:', platform.uname())
print('System:', platform.system())
print('Node:', platform.node())
print('Release:', platform.release())
print('Version:', platform.version())
print('Machine:', platform.machine())
print('Processor:', platform.processor())
print('Python Version:', platform.python_version())

User Name: uname_result(system='Linux', node='alem-HP-Pavilion-x360-Convertible', release='5.4.0-74-generic', version='#83~18.04.1-Ubuntu SMP Tue May 11 16:01:00 UTC 2021', machine='x86_64', processor='x86_64')
System: Linux
Node: alem-HP-Pavilion-x360-Convertible
Release: 5.4.0-74-generic
Version: #83~18.04.1-Ubuntu SMP Tue May 11 16:01:00 UTC 2021
Machine: x86_64
Processor: x86_64
Python Version: 3.7.4

In [106]:
#*************************************
# Data Structures
import numpy as np
import pandas as pd
#*************************************

In [113]:
pd.DataFrame({
    'Alem':[6],
    'Brook':[8],
    'Tsega':[90],
    'Emma': [11],
    'other':[np.NaN]
})

   Alem  Brook  Tsega  Emma  other
0     6      8     90    11    NaN

In [108]:
np.array([[1,2],[3,4]])

array([[1, 2],
       [3, 4]])

In [109]:
np.pi

3.141592653589793

In [111]:
np.NaN

nan

In [102]:
#*************************************
# Database
import sqlite3
from sqlalchemy import create_engine
import base64
import mysql.connector
from mysql.connector import errorcode
#*************************************

In [114]:
try:
    mydb = mysql.connector.connect(
      host="localhost",           # your host, usually localhost
      user="Alem",                # your username
      password="brookx150",       # your password
      db="alemdb"                 # name of the data base
    )
except:
    print(f"Err:{sys.exc_info()[0]}")
else:
    print(f"Successfully connected to {mydb}")

Successfully connected to <mysql.connector.connection_cext.CMySQLConnection object at 0x7f20f9f1e4d0>

In [103]:
#*************************************
# Time and Dates
import time
from datetime import datetime as dtt
from datetime import date,timedelta
#*************************************

In [115]:
time.sleep(3)

In [93]:
dtt.now().strftime("%Y-%B-%d %H:%M:%S")

'2021-December-17 01:35:32'

In [95]:
dtt.now().strftime("%Y-%B-%D %H:%M:%S")

'2021-December-12/17/21 01:36:11'

In [101]:
dtt.now().strftime("%Y-%m-%d %H:%M:%S.%f")

'2021-12-17 01:38:35.291641'

In [116]:
#*************************************
# Networking
import socket
import uuid
#*************************************

In [117]:
# Get MAC and IP addresses of a machine
print (hex(uuid.getnode()))

0x6f5373b79986

In [118]:
import re, uuid 
print ("Formatted MAC Address: ", end="") 
print (':'.join(re.findall('..', '%012x' % uuid.getnode())))

Formatted MAC Address: 6f:53:73:b7:99:86

In [119]:
# Python Program to Get IP Address 
hostname = socket.gethostname() 
IPAddr = socket.gethostbyname(hostname) 
print("Your Computer Name is:" + hostname) 
print("Your Computer IP Address is:" + IPAddr)

Your Computer Name is:alem-HP-Pavilion-x360-Convertible
Your Computer IP Address is:127.0.1.1

In [120]:
#*************************************
# Dash and Dash Components
import dash
import dash_core_components as dcc
import dash_html_components as html
import plotly.graph_objs as go
from plotly.subplots import make_subplots
from dash.dependencies import Input, Output, State
import dash_table as dt
import dash_daq as daq
import dash_auth
#*************************************

In [122]:
#*************************************
# Otherss
import random # random.shuffle Fisher-Yates Algorithm
import warnings
warnings.simplefilter("ignore")
import platform
import flask
import urllib
from math import ceil, floor, pi, sin, cos, tan, e
from IPython.display import Image
#****************************************************

- Examples: Some of the more than 300 packages
    - Data visualization using matplotlib.pyplot or ggplot2 
    - GUI (wx Python, pyGame, ...)
    - probablistic programming (pyMC, Edward, ...)
    - Data Manipulation using pandas
    - Machine learning using scikit-learn
    - Numerical packages like Numpy, Scipy, networkx, pulp, cvxplot, ...
    - Deep learning frameworks (tf, keras, theona, pyTorch, ...)
    - Natural Language Processing (NLP)
- py3 is the future of python

### Python Built-in Datat Types
- It has the following standard or built-in data types:
    - **Numeric**: a numeric value. Python identifies 3 types of numbers: int, float, & complex
    - **Boolean**: logical data with two built-in values: True or False
    - **Sequence Type**: a sequence is an ordered collection of similar or different data types. Python has 3 built-in sequence data types: string, list, and tuple. set is unordered list
    - **Dictionary**: an unordered collection of data in a key:value pair form
    - **None**: No value
    - **pass**: do nothing/place holder

- Many companies still have legacy python2 code to be maintained
- Python2 is scheduled not to receive security updates after 2020 (update stops by 2020)
- There are more than 300 external python packages
- Now every major external python package has been updated to support py3 (99% of all packages)

### Range can be sliced starting p3.2

In [123]:
# range can be sliced starting p3.2
range(6)[0]

0

In [124]:
range(6)[5]

5

### Punctuation Characters
- In Python3, string.punctuation is a pre-initialized string used as string constant. In Python, string.punctuation will give the all sets of punctuation.

In [127]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [129]:
print(list(string.punctuation))

['!', '"', '#', '$', '%', '&', "'", '(', ')', '*', '+', ',', '-', '.', '/', ':', ';', '<', '=', '>', '?', '@', '[', '\\', ']', '^', '_', '`', '{', '|', '}', '~']

### Variable
- A variable is a named location used to store data in the memory. It is helpful to think of variables as a container that holds data which can be changed later throughout programming.
- We can get the address (in RAM) of some object through the built-in function, id(). Let's check it.

In [130]:
a=7 #points to 7
b=a # points to 7
a=3 # now points only to 3
print(a)

3

In [131]:
# Note: You may get different value of id
a = 2
# Output: id(2)= 10919424
print('id(2) =', id(2))

# Output: id(a) = 10919424
print('id(a) =', id(a))

id(2) = 94605157032768
id(a) = 94605157032768

In [133]:
x2 = 'Hello'
print('id(x2) =', id(x2))
y2 = 'Hello'
print('id(y2) =', id(y2))

id(x2) = 139779572567152
id(y2) = 139779572567152

In [135]:
y2 = y2 +str(4)
print('id(y2) =', id(y2))

id(y2) = 139779572760880

- To simply put it, namespace is a collection of names.
- In Python, you can imagine a namespace as a mapping of every name, you have defined, to corresponding objects.
- Different namespaces can co-exist at a given time but are completely isolated.
- Variable Scope: the portion of the program from where a namespace can be accessed directly without any prefix.
- At any given moment, there are at least three nested scopes.
    - Scope of the current function which has local names
    - Scope of the module which has global names
    - Outermost scope which has built-in names

In [136]:
a = 10
#global
def outer_function():
    b = 20
    # a is global
    # b is local
    def inner_func():
        c = 30
        # a is global
        # b is nonlocal
        # c is local

In [137]:
def outer_function():
    a = 20
    def inner_function():
        a = 30
        print('a_1 =',a)

    inner_function()
    print('a_2 =',a)
     
a = 10
outer_function()
print('a_3 =',a)

a_1 = 30
a_2 = 20
a_3 = 10

In [138]:
def outer_function():
    global a 
    a = a+20
    b = a #only locally accessible
    print('b_local =',a)
    def inner_function():
        nonlocal b # made to be accessible
        c= b+a+30 #local
        print('c_nonlocal =',c)
    inner_function()  
     
a = 10 #accessible everyhere
print('a_global =',a)
outer_function()

a_global = 10
b_local = 30
c_nonlocal = 90

In [139]:
def outer_function():
    global a
    a = 20
    def inner_function():
        global a
        a = 30
        print('a =',a)

    inner_function()
    print('a =',a)
     
a = 10
outer_function()
print('a =',a)

a = 30
a = 30
a = 30

- Python uses **dynamic typing**, meaning you can reassign variables to different data types. This makes Python very flexible in assigning data types; it differs from other languages that are **statically typed**.
- Pros of Dynamic Typing
    * very easy to work with
    * faster development time
- Cons of Dynamic Typing
    * may result in unexpected bugs!
    * you need to be aware of `type()`

In [141]:
a=1
type(a)

int

In [143]:
a=['A','B']
type(a)

list

In [144]:
a='alem'
type(a)

str

- Assigning a value to a variable

In [145]:
#Assigning a value
website = "apple.com"
print(website)

apple.com

In [146]:
#Changing the value of a variable
# assigning a new variable to website
website = "programiz.com"
print(website)

programiz.com

In [147]:
#Assigning multiple values to multiple variables
a, b, c = 5, 3.2, "Hello"
print (a)

5

In [149]:
#Assigning multiple values to multiple variables
a, b, c = 5, 3.2, "Hello"
print (a)
print (b)
print (c)

5
3.2
Hello

In [150]:
#same value to multiple variables at once
x = y = z = "same"
print (x)
print (y)
print (z)

same
same
same

In [151]:
x= 8
print (x)
print (y)
print (z)

8
same
same

- `type()`: You can check what type of object is assigned to a variable using Python's built-in `type()` function. Common data types include:
    * **int** (for integer)
    * **float**
    * **str** (for string)
    * **list**
    * **tuple**
    * **dict** (for dictionary)
    * **set**
    * **bool** (for Boolean True/False)

In [3]:
a, b, c,d,e,f,g,h, i = 1, 'str',\
[1,4,5], (1,2), {'k':1}, 3.4,\
set([2,3]), False, 1+3j

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))
print(type(h))
print(type(i))

<class 'int'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'float'>
<class 'set'>
<class 'bool'>
<class 'complex'>

- The isinstance() function checks if the object (first argument) is an instance or subclass of classinfo class (second argument).

In [5]:
print(isinstance(a, int))
print(isinstance(b, str))
print(isinstance(c, list))
print(isinstance(d, tuple))
print(isinstance(e, dict))
print(isinstance(f, float))
print(isinstance(g, set))
print(isinstance(h, bool))
print(isinstance(i, complex))

True
True
True
True
True
True
True
True
True

- A **literal** is a raw data given in a variable or constant. In Python, there are various types of literals namely numeric, string, boolean, special, and collection literals.

In [7]:
a = 0b1010 #Binary Literals
b = 100 #Decimal Literal 
c = 0o310 #Octal Literal
d = 0x12c #Hexadecimal Literal
#Float Literal
float_1 = 10.5 
float_2 = 1.5e2

print(a, b, c, d)
print(float_1, float_2)
print(x, x.imag, x.real, sep='   ')

10 100 200 300
10.5 150.0
12.3456789   0.0   12.3456789

In [9]:
strings = "This is Python"
char = "C"
multiline_str = """This is a multiline 
          string with more than one line code."""
unicode = u"\u00dcnic\u00f6de"
raw_str = r"raw \n string"
cr = u"\u00a9"

print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)
print(cr)
print(chr(169))

This is Python
C
This is a multiline
          string with more than one line code.
Ünicöde
raw \n string
©
©

In [10]:
x = (1 == True)
y = (1 == False)
a = True + 4
b = False + 10

print("x is", x)
print("y is", y)
print("a:", a)
print("b:", b)

x is True
y is False
a: 5
b: 10

In [11]:
print(True > False) 
print(True < False)

True
False

- Special Literals

In [12]:
def check_exam():
    pass # to be filled later

class BU:
    pass # to be filled out later

In [13]:
drink = "Available"
food = None

def menu(x):
    if x == drink:
        print(drink)
    else:
        print(food)

menu(drink)
menu(food)

Available
None

In [14]:
fruits = ["apple", "mango", "orange"] #list
numbers = (1, 2, 3) #tuple
alphabets = {'a':'apple', 'b':'ball', 'c':'cat'} #dictionary
vowels = {'a', 'e', 'i' , 'o', 'u'} #set

print(fruits)
print(numbers)
print(alphabets)
print(vowels)

['apple', 'mango', 'orange']
(1, 2, 3)
{'a': 'apple', 'b': 'ball', 'c': 'cat'}
{'e', 'u', 'i', 'a', 'o'}

### Numbers
- int
- float
- complex
- fraction
- double

In [15]:
a = 1234567890123456789
b = 0.1234567890123456789
c = 1+2j
print('c=',c)
print('real=',c.real)
print('Imaginary=',c.imag)

c= (1+2j)
real= 1.0
Imaginary= 2.0

In [18]:
from fractions import Fraction
from decimal import Decimal  
Fraction(1, 3**54)

Fraction(1, 58149737003040059690390169)

In [20]:
Fraction(1, 58149737003040059690390169)*2

Fraction(2, 58149737003040059690390169)

In [19]:
Decimal(2.675)

Decimal('2.67499999999999982236431605997495353221893310546875')

In [33]:
import decimal
# Count the decimal places
d = decimal.Decimal('56.4325')
print(d.as_tuple().exponent)
d = decimal.Decimal('56.43256436')
print(d.as_tuple().exponent)
d=decimal.Decimal(0.1)
print(d.as_tuple().exponent)

-4
-8
-55

In [34]:
t='00111111011001100110011001100110'
t.count('0')+t.count('1')

32

In [35]:
import fractions

# Output: 3/2
print(fractions.Fraction(1.5))
# Output: 5
print(fractions.Fraction(5))
# Output: 1/3
print(fractions.Fraction(1,3))

3/2
5
1/3

- Watchout!

In [36]:
(1.1 + 2.2) == 3.3

False

In [37]:
1.1 + 2.2

3.3000000000000003

In [38]:
float(f'{(1.1 + 2.2):0.1f}') == 3.3

True

In [39]:
2.1 + 4.1 == 6.3

False

In [40]:
2.1 + 4.1

6.199999999999999

### Measure the Memory Size of an Object in Bytes

In [21]:
import sys 
sys.getsizeof(Fraction(1, 58149737003040059690390169))

64

In [22]:
sys.getsizeof(Decimal(2.675))

104

In [23]:
sys.getsizeof(6)

28

In [24]:
sys.getsizeof(100)

28

In [25]:
sys.getsizeof(2.675)

24

### Mathematics

In [43]:
import math
# Output: 3.141592653589793
print(math.pi)
# Output: -1.0
print(math.cos(math.pi))
# Output: 22026.465794806718
print(math.exp(10))
# Output: 3.0
print(math.log10(1000))
# Output: 1.1752011936438014
print(math.sinh(1))
# Output: 720
print(math.factorial(20))

3.141592653589793
-1.0
22026.465794806718
3.0
1.1752011936438014
2432902008176640000

In [44]:
# Python3 program to find maximum value of 
# an integer for which factorial can be 
# calculated on your system 
import sys 
def findMaxValue(): 
    res = 2; 
    fact = 2; 
    while (True): 
        # when fact crosses its size 
        # it gives negative value 
        if (fact < 0 or fact > sys.maxsize): 
            break; 
        res += 1; 
        fact = fact * res; 
    return res - 1; 
# Driver Code 
if __name__ == '__main__': 
    print("Maximum value of integer:", 
    findMaxValue());

Maximum value of integer: 20

In [46]:
sys.maxsize

9223372036854775807

In [45]:
from math import factorial
factorial(100)

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [47]:
import random as r
r.getrandbits(8)

253

In [48]:
#Fisher-Yates Shuffle Algorithm
lst = [i for i in range(4,8)]
r.shuffle(lst)
lst

[6, 7, 4, 5]

- Mathematical Functions

In [329]:
import math

In [331]:
math.ceil(6.3)

7

In [332]:
math.copysign(9, -7)

-9.0

In [333]:
math.fabs(-6.8)

6.8

In [334]:
math.factorial(100)

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [335]:
math.floor(5.9)

5

In [337]:
math.fmod(3.6,2)

1.6

In [339]:
math.frexp(67.8904) #(m, e)

(0.53039375, 7)

In [341]:
math.fsum([6,7,0.6])

13.6

In [343]:
import numpy as np
math.isfinite(np.nan)

False

In [344]:
math.isfinite(np.inf)

False

In [345]:
math.isfinite(7)

True

In [346]:
math.isinf(np.inf)

True

In [347]:
math.isnan(np.nan)

True

In [350]:
math.ldexp(3, 2) # 3*3**2

12.0

In [351]:
math.modf(67.89)

(0.8900000000000006, 67.0)

In [353]:
math.trunc(67.890)

67

In [355]:
math.exp(2) #e**2

7.38905609893065

In [356]:
math.expm1(2) #e**2-1

6.38905609893065

In [358]:
math.log(10, 10)

1.0

In [359]:
math.log10(10)

1.0

In [360]:
math.log2(8)

3.0

In [361]:
math.pow(2,3)

8.0

In [362]:
math.sqrt(9)

3.0

In [363]:
math.acos(0.5)

1.0471975511965979

In [364]:
math.asin(0.5)

0.5235987755982989

In [365]:
math.atan(0.5)

0.4636476090008061

In [366]:
math.atan2(3,6)# atan(3/6)

0.4636476090008061

In [367]:
math.cos(2*math.pi)

1.0

In [368]:
math.hypot(2*math.pi, 8) # E.Norm, sqrt(x*x + y*y)

10.172434202508141

In [371]:
math.sin(math.degrees(0.5*math.pi))

0.8939966636005579

In [372]:
math.degrees(2*math.pi)

360.0

In [373]:
math.radians(30)

0.5235987755982988

In [376]:
math.acosh(50)

4.6050701709847575

In [377]:
math.asinh(50)

4.605270170991424

In [378]:
math.tanh(50)

1.0

In [379]:
math.erf(50)

1.0

In [380]:
math.erfc(50)

0.0

In [381]:
math.gamma(50)

6.082818640342675e+62

In [382]:
math.lgamma(50)

144.5657439463449

In [383]:
math.pi

3.141592653589793

In [384]:
math.e

2.718281828459045

### Strings
- A string is a sequence of characters. A character is simply a symbol. For example, the English language has 26 characters.
- immutable
- s[start: end-1: step]

In [49]:
s = 'Hello world!'
# Reverse string elements (used for checking palindrome)
s[::-1]

'!dlrow olleH'

In [50]:
s[1:10000]

'ello world!'

In [51]:
s[:3]

'Hel'

In [55]:
s[5:5]

''

In [56]:
a='brookalemfitwi'
print('a[:]',a[:])

a[:] brookalemfitwi

In [57]:
print('a[-1]',a[-1])

a[-1] i

In [58]:
print('a[-2:]',a[-2:])

a[-2:] wi

In [59]:
print('a[:-2]',a[:-2])

a[:-2] brookalemfit

In [60]:
print('a[::-1] ',a[::-1])

a[::-1]  iwtifmelakoorb

In [61]:
print('a[1::-1]',a[1::-1])

a[1::-1] rb

In [65]:
print('a[:-3:-1]',a[:-3:-1])

a[:-3:-1] iw

In [66]:
print('a[-3::-1] ',a[-3::-1] )

a[-3::-1]  tifmelakoorb

In [67]:
print('a[-1:1] ',a[-1:1] )

a[-1:1]

In [68]:
print('a[-1:len(a)] ',a[-1:len(a)])

a[-1:len(a)]  i

In [69]:
print('a[-1:4] ',a[-1:4])

a[-1:4]

In [70]:
print('a[-1:] ',a[-1:] )

a[-1:]  i

In [71]:
# Grab everything but the last letter
s[:-1]

'Hello world'

In [72]:
# Grab everything, but go in steps size of 1
s = 'brook'
s[::1]

'brook'

In [73]:
s[:3:1]

'bro'

In [74]:
# Grab everything, but go in step sizes of 2
s[::2]

'bok'

In [75]:
# Concatenate
s = 'Brook'
s+' Alem'

'Brook Alem'

In [77]:
# Repeating Strings
s + 3*' Alem'

'Brook Alem Alem Alem'

In [78]:
# String comparison: Only firstletters are compared
  # If first letters areequal, proceed to next ones
print("alem">'f')
print("alem">'abbb')
print("azzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz"<'z')
print('20'>'30')
print('200000000000'>'30')

False
True
True
False
False

In [80]:
count = 0
for letter in 'Hello World':
    if(letter == 'l'):
        count += 1
print(count,'letters found')

3 letters found

In [81]:
'a' in 'program'
'at' not in 'battle'

False

In [83]:
l='Hello World'
l.count('b')

0

### List
- constructed with brackets [] and commas separating every element in the list.
- lst = []
- lst[start:end-1:step]

In [88]:
from pipe import traverse, chain
my_list = ["mouse", [8, 4, 6], ['a']]
list(my_list | traverse)

['mouse', 8, 4, 6, 'a']

In [89]:
list(my_list | chain)

['m', 'o', 'u', 's', 'e', 8, 4, 6, 'a']

In [93]:
my_list[0:100:2]

['mouse', ['a']]

In [97]:
a = my_list[::]
b = my_list

In [95]:
id(a)

140116201027296

In [96]:
id(my_list)

140116201795904

In [99]:
id(b)

140116201795904

In [100]:
odd = [1, 3, 5]
odd.append(7)
# Output: [1, 3, 5, 7]
print(odd)
odd.extend([9, 11, 13])
# Output: [1, 3, 5, 7, 9, 11, 13]
print(odd)

[1, 3, 5, 7]
[1, 3, 5, 7, 9, 11, 13]

In [101]:
odd.append([9, 11, 13])
odd

[1, 3, 5, 7, 9, 11, 13, [9, 11, 13]]

In [102]:
odd = [1, 9]
odd.insert(1,3)
# Output: [1, 3, 9] 
print(odd)
odd[2:2] = [5, 7]
# Output: [1, 3, 5, 7, 9]
print(odd)

[1, 3, 9]
[1, 3, 5, 7, 9]

In [103]:
del odd[0]

In [104]:
odd

[3, 5, 7, 9]

In [105]:
list1 = [1,2,3]
print("Original List:", list1)
list1.append('e') #in-place
print("Appending:",list1)
list1.extend(['e','t']) #in-place
print("Extending:",list1)
list1.insert(0,'e') #in-place
print("Inserting(0,'e'):",list1)
list1.remove('e') #in-place
print("Removing:",list1)
list1.pop() #in-place
print("Popping:",list1)
list1.clear() #in-place
print("Clearing:",list1)
list1 = [1,2,2,3]
print("List2:", list1)
print("Index(2):",list1.index(2))
print("Count(2):",list1.count(2))
list1.sort() #in-place
print("Sorting in place:",list1)
print("Sorting not in place:",sorted(list1))
list1.reverse() #in-place
print("Reversing: ",list1)

Original List: [1, 2, 3]
Appending: [1, 2, 3, 'e']
Extending: [1, 2, 3, 'e', 'e', 't']
Inserting(0,'e'): ['e', 1, 2, 3, 'e', 'e', 't']
Removing: [1, 2, 3, 'e', 'e', 't']
Popping: [1, 2, 3, 'e', 'e']
Clearing: []
List2: [1, 2, 2, 3]
Index(2): 1
Count(2): 2
Sorting in place: [1, 2, 2, 3]
Sorting not in place: [1, 2, 2, 3]
Reversing:  [3, 2, 2, 1]

In [106]:
x = [1,2,3]
y = x.append(4)
print(y)

None

In [110]:
sorted(x) # sorts the copy

[1, 2, 3, 4]

In [111]:
x.sort() #inplace

- Add and multiply list

In [117]:
[1, 2, 3, 4] + [1, 2, 3, 4]

[1, 2, 3, 4, 1, 2, 3, 4]

In [118]:
[1, 2, 3, 4]*2

[1, 2, 3, 4, 1, 2, 3, 4]

- List comprehension

In [112]:
pow2 = [2 ** x for x in range(10)]
print(pow2)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [113]:
pow2 = [2 ** x for x in range(10) if x > 5]
pow2

[64, 128, 256, 512]

In [114]:
[x+y for x in ['Python ','C '] 
 for y in ['Language','Programming']]

['Python Language', 'Python Programming', 'C Language', 'C Programming']

In [115]:
[(x,y) for x in ['Python ','C '] 
 for y in ['Language','Programming']]

[('Python ', 'Language'),
 ('Python ', 'Programming'),
 ('C ', 'Language'),
 ('C ', 'Programming')]

In [390]:
#Chessboard 8x8
chess=[(i,j) for i in range(8) for j in range(8)]
print(chess)

[(0, 0), (0, 1), (0, 2), (0, 3), (0, 4), (0, 5), (0, 6), (0, 7), (1, 0), (1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (1, 7), (2, 0), (2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (2, 6), (2, 7), (3, 0), (3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (3, 6), (3, 7), (4, 0), (4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (4, 6), (4, 7), (5, 0), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5), (5, 6), (5, 7), (6, 0), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5), (6, 6), (6, 7), (7, 0), (7, 1), (7, 2), (7, 3), (7, 4), (7, 5), (7, 6), (7, 7)]

In [391]:
#3D 3x3x3
d3d=[(i,j,k) for i in range(4) 
     for j in range(4) for k in range(4)]
print(d3d)

[(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3), (0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 2, 0), (0, 2, 1), (0, 2, 2), (0, 2, 3), (0, 3, 0), (0, 3, 1), (0, 3, 2), (0, 3, 3), (1, 0, 0), (1, 0, 1), (1, 0, 2), (1, 0, 3), (1, 1, 0), (1, 1, 1), (1, 1, 2), (1, 1, 3), (1, 2, 0), (1, 2, 1), (1, 2, 2), (1, 2, 3), (1, 3, 0), (1, 3, 1), (1, 3, 2), (1, 3, 3), (2, 0, 0), (2, 0, 1), (2, 0, 2), (2, 0, 3), (2, 1, 0), (2, 1, 1), (2, 1, 2), (2, 1, 3), (2, 2, 0), (2, 2, 1), (2, 2, 2), (2, 2, 3), (2, 3, 0), (2, 3, 1), (2, 3, 2), (2, 3, 3), (3, 0, 0), (3, 0, 1), (3, 0, 2), (3, 0, 3), (3, 1, 0), (3, 1, 1), (3, 1, 2), (3, 1, 3), (3, 2, 0), (3, 2, 1), (3, 2, 2), (3, 2, 3), (3, 3, 0), (3, 3, 1), (3, 3, 2), (3, 3, 3)]

- Membership

In [116]:
my_list = ['p','r','o','b','l','e','m']
# Output: True
print('p' in my_list)
# Output: False
print('a' in my_list)
# Output: True
print('c' not in my_list)

True
False
True

- Matrix

In [119]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# Make a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [120]:
from pipe import traverse
list(matrix|traverse)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### Copying
- shallow copy
- deep copy

In [129]:
# importing copy module 
import copy 

# initializing list 1 
li0 = [1, 2, [3,5], 4] 
print(id(li0))

140116201796784

In [130]:
# initializing list 1 
li1 = li0
print(id(li1))

140116201796784

In [126]:
# using copy for shallow copy 
li2 = copy.copy(li1) 
print(id(li2))

140116201060624

In [127]:
# using deepcopy for deepcopy 
li3 = copy.deepcopy(li1) 
print(id(li3))

140116211454832

In [131]:
li0.insert(0,9)
print(li0)
print(li1)
print(li2)
print(li3)

[9, 1, 2, [3, 5], 4]
[9, 1, 2, [3, 5], 4]
[1, 2, [3, 5], 4]
[1, 2, [3, 5], 4]

A. Shallow copy
- IDs of original and copy are different
- It doesn't copy the elements, but copies the references of the elements.
- Behaves differently for nested lists: changing elements of sublist affects the original list as well.
- Can be perofrmed using 4 different ways
    - Built-in functions: list(), set(), dict()
    - Slicing operator
    - List comprehension
    - Copy function from copy module

- =

In [134]:
# Copy using the assignment operator =
num1 = [i for i in range(5)]
print("original_num1:",num1)
nnum1 = num1
num1[0] =10

print("Num1:", num1)
print("nNum1:", nnum1)
print("Num1_id:", id(num1))
print("nNum1_id:", id(nnum1))

original_num1: [0, 1, 2, 3, 4]
Num1: [10, 1, 2, 3, 4]
nNum1: [10, 1, 2, 3, 4]
Num1_id: 140116201401392
nNum1_id: 140116201401392

- list(), set(), or dict()

In [135]:
lst = [1,2,3,4]
lst1 = list(lst)
print("lst: ", lst)
print("lst1: ", lst1)
print("lst_ID: ", id(lst))
print("lst1_ID: ", id(lst1))

lst:  [1, 2, 3, 4]
lst1:  [1, 2, 3, 4]
lst_ID:  140116201448224
lst1_ID:  140116201007856

In [137]:
# Append new value to lst2: doesn't affect lst
lst1.append('a')
print("lst: ", lst)
print("lst1: ", lst1)
print("lst_ID: ", id(lst))
print("lst1_ID: ", id(lst1))

lst:  [1, 2, 3, 4]
lst1:  [1, 2, 3, 4, 'a', 'a']
lst_ID:  140116201448224
lst1_ID:  140116201007856

- slicing operator, [::]

In [138]:
lst2 = lst[:]
print("lst: ", lst)
print("lst2: ", lst2)
print("lst_ID: ", id(lst))
print("lst2_ID: ", id(lst2))

lst:  [1, 2, 3, 4]
lst2:  [1, 2, 3, 4]
lst_ID:  140116201448224
lst2_ID:  140116270892528

In [139]:
lst2[0] = 'alem'
print("lst: ", lst)
print("lst2: ", lst2)
print("lst_ID: ", id(lst))
print("lst2_ID: ", id(lst2))

lst:  [1, 2, 3, 4]
lst2:  ['alem', 2, 3, 4]
lst_ID:  140116201448224
lst2_ID:  140116270892528

- list comprehension

In [140]:
l1 = [1,2,3,4]
l2 = [x for x in l1]
l2[-1] = 'u' 
print("l1: ", lst)
print("l2: ", l2)
print("l1_ID: ", id(l1))
print("l2_ID: ", id(l2))

l1:  [1, 2, 3, 4]
l2:  [1, 2, 3, 'u']
l1_ID:  140116201026736
l2_ID:  140116201403408

- copy.copy()

In [141]:
import copy

In [142]:
import copy
lstold = [[1,2,3],[4,5,6],[7,8,9]]
lstnew = copy.copy(lstold)
print("lstold: ", lstold)
print("lstnew: ", lstnew)
print("lstold_ID: ", id(lstold))
print("lstnew_ID: ", id(lstnew))

lstold:  [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
lstnew:  [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
lstold_ID:  140116201031312
lstnew_ID:  140116201033632

In [143]:
# Change a list of the new list:lstold[0] to ['a','b','c']
# Original object is not affected
lstnew[0] = ['a','b','c']
print("lstold: ", lstold)
print("lstnew: ", lstnew)
print("lstold_ID: ", id(lstold))
print("lstnew_ID: ", id(lstnew))

lstold:  [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
lstnew:  [['a', 'b', 'c'], [4, 5, 6], [7, 8, 9]]
lstold_ID:  140116201031312
lstnew_ID:  140116201033632

In [144]:
lstnew[0][1] = 600
print("lstold: ", lstold)
print("lstnew: ", lstnew)
print("lstold_ID: ", id(lstold))
print("lstnew_ID: ", id(lstnew))

lstold:  [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
lstnew:  [['a', 600, 'c'], [4, 5, 6], [7, 8, 9]]
lstold_ID:  140116201031312
lstnew_ID:  140116201033632

B. Deep Copying using the copy.deepcopy()
- Creates a Copy of the object as well as elements of the object.
- It keeps no reference to elements

In [145]:
lstold = [[1,2,3],[4,5,6],[7,8,9]]
lstnew = copy.deepcopy(lstold)
print("lstold: ", lstold)
print("lstnew: ", lstnew)
print("lstold_ID: ", id(lstold))
print("lstnew_ID: ", id(lstnew))

lstold:  [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
lstnew:  [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
lstold_ID:  140116201138208
lstnew_ID:  140116201139088

In [146]:
lstold = [[1,2,3],[4,5,6],[7,8,9]]
lstnew = copy.deepcopy(lstold)
lstnew[0][0] = 'alem'
print("lstold: ", lstold)
print("lstnew: ", lstnew)
print("lstold_ID: ", id(lstold))
print("lstnew_ID: ", id(lstnew))

lstold:  [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
lstnew:  [['alem', 2, 3], [4, 5, 6], [7, 8, 9]]
lstold_ID:  140116201136928
lstnew_ID:  140116201032912

### Tuple
- tuple = ()
- immutable

In [147]:
# Empty tuple
my_tuple = ()
print(my_tuple)  # Output: ()

# Tuple having integers
my_tuple = (1, 2, 3)
print(my_tuple)  # Output: (1, 2, 3) 

# tuple with mixed datatypes
my_tuple = (1, "Hello", 3.4)
print(my_tuple)  # Output: (1, "Hello", 3.4)  

# nested tuple
my_tuple = ("mouse", [8, 4, 6], (1, 2, 3))

# Output: ("mouse", [8, 4, 6], (1, 2, 3)) 
print(my_tuple)

()
(1, 2, 3)
(1, 'Hello', 3.4)
('mouse', [8, 4, 6], (1, 2, 3))

In [149]:
# Tuple Packing
my_tuple = 3, 4.6, "dog"
print(my_tuple)   # Output: 3, 4.6, "dog"

(3, 4.6, 'dog')

In [151]:
# Tuple unpacking is also possible
a, b, c = my_tuple

print(a)      # 3
print(b)      # 4.6 
print(c)      # dog

3
4.6
dog

In [152]:
my_tuple = ("hello")
print(type(my_tuple))  # <class 'str'>

# Creating a tuple having one element
my_tuple = ("hello",)  
print(type(my_tuple))  # <class 'tuple'> 

# Parentheses is optional
my_tuple = "hello",
print(type(my_tuple))  # <class 'tuple'>

<class 'str'>
<class 'tuple'>
<class 'tuple'>

- [::]

In [158]:
my_tuple = ('p','r','o','g','r','a','m','i','z')
print(my_tuple[1:4])

('r', 'o', 'g')

- Methods

In [153]:
my_tuple = ('p','r','o','g','r','a','m','i','z')
del my_tuple

In [157]:
my_tuple = ('a','p','p','l','e',)
print(my_tuple.count('p'))  # Output: 2, zero
print(my_tuple.index('l'))  # Output: 3, error

2
3

In [159]:
# Concatenation
# Output: (1, 2, 3, 4, 5, 6)
print((1, 2, 3) + (4, 5, 6))

# Repeat
# Output: ('Repeat', 'Repeat', 'Repeat')
print(("Repeat",) * 3)

(1, 2, 3, 4, 5, 6)
('Repeat', 'Repeat', 'Repeat')

- Tuple Membership Test

In [160]:
my_tuple = ('a','p','p','l','e',)

# In operation
# Output: True
print('a' in my_tuple)

# Output: False
print('b' in my_tuple)

# Not in operation
# Output: True
print('g' not in my_tuple)

True
False
True

### Set
- an unordered collection of unique items.
- set  = set(), not {}
- mutable

In [164]:
# initialize a with {}
a = {}

print(type(a))

# initialize a with set()
b = set()

# check data type of b
print(type(b))

<class 'dict'>
<class 'set'>

In [161]:
# set of integers
my_set = {1, 2, 3}
print(my_set)

# set of mixed datatypes
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

{1, 2, 3}
{1.0, 'Hello', (1, 2, 3)}

In [162]:
my_set = {1,2,3,4,3,2}
print(my_set)

{1, 2, 3, 4}

In [163]:
my_set = set([1,2,3,2])
print(my_set)

{1, 2, 3}

In [166]:
# initialize my_set
my_set = {1,3}
print(my_set)

my_set.add(2) # single
print(my_set)

my_set.update([2,3,4])# multiple
print(my_set)

my_set.update([4,5], {1,6,8})
print(my_set)

{1, 3}
{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 8}

In [167]:
# initialize my_set
my_set = {1, 3, 4, 5, 6}
print(my_set)

my_set.discard(4) #none
print(my_set)

my_set.remove(6) #error
print(my_set)

my_set.discard(2)
print(my_set)

{1, 3, 4, 5, 6}
{1, 3, 5, 6}
{1, 3, 5}
{1, 3, 5}

In [168]:
my_set = set("HelloWorld")
print(my_set)

print(my_set.pop())

my_set.pop()
print(my_set)

my_set.clear()
print(my_set)

{'d', 'H', 'e', 'r', 'l', 'W', 'o'}
d
{'e', 'r', 'l', 'W', 'o'}
set()

- Set Operations¶

In [170]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

In [171]:
A |B

{1, 2, 3, 4, 5, 6, 7, 8}

In [172]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [173]:
A&B

{4, 5}

In [174]:
A.intersection(B)

{4, 5}

In [175]:
A-B

{1, 2, 3}

In [177]:
A.difference(B)

{1, 2, 3}

In [176]:
B-A

{6, 7, 8}

In [178]:
B.difference(A)

{6, 7, 8}

In [179]:
A^B

{1, 2, 3, 6, 7, 8}

In [180]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [181]:
B^A

{1, 2, 3, 6, 7, 8}

In [182]:
B.symmetric_difference(A)

{1, 2, 3, 6, 7, 8}

In [183]:
A.isdisjoint(B)

False

In [184]:
A.issubset(B)

False

In [185]:
A.issuperset(B)

False

In [186]:
A.symmetric_difference_update(B)

In [187]:
A

{1, 2, 3, 6, 7, 8}

In [188]:
A.pop()

1

In [189]:
A

{2, 3, 6, 7, 8}

In [190]:
1 in A

False

In [191]:
1 not in A

True

In [192]:
for letter in set("apple"):
     print(letter)

e
a
p
l

In [193]:
all(A)

True

In [204]:
all({})

True

In [194]:
any(A)

True

In [205]:
any({})

False

In [196]:
for (i, v) in enumerate(A):
    print((i,v))

(0, 2)
(1, 3)
(2, 6)
(3, 7)
(4, 8)

In [197]:
len(A)

5

In [198]:
max(A)

8

In [199]:
min(A)

2

In [202]:
sorted(A) # but not A.sort()

[2, 3, 6, 7, 8]

In [203]:
sum(A)

26

- frozenset doesn't have method that add or remove elements.

In [206]:
# initialize A and B
A = frozenset([1, 2, 3, 4])
B = frozenset([3, 4, 5, 6])
print(A)
print(B)

frozenset({1, 2, 3, 4})
frozenset({3, 4, 5, 6})

In [208]:
A.add(1)

AttributeError: 'frozenset' object has no attribute 'add'

In [209]:
A.remove(1)

AttributeError: 'frozenset' object has no attribute 'remove'

### Dictionary
- an unordered collection of key: value paired items
- dict = {}

In [210]:
# empty dictionary
my_dict = {}
# dictionary with integer keys
my_dict = {1: 'apple', 2: 'ball'}
# dictionary with mixed keys
my_dict = {'name': 'John', 1: [2, 4, 3]}
# using dict()
my_dict = dict({1:'apple', 2:'ball'})
# from sequence having each item as a pair
my_dict = dict([(1,'apple'), (2,'ball')])
my_dict

{1: 'apple', 2: 'ball'}

In [211]:
my_dict = {'name':'Jack', 'age': 26}

# Output: Jack
print(my_dict['name'])

# Output: 26
print(my_dict.get('age')) # no error, returns none

Jack
26

In [212]:
my_dict.get('address') # doesn't throw error

In [213]:
my_dict['address'] # throws error

KeyError: 'address'

In [214]:
# update value
my_dict['age'] = 27

In [215]:
# add item
my_dict['address'] = 'Downtown'

In [216]:
# Dictionary nested inside a dictionary nested 
# inside a dictionary
d = {'key1':{'nestkey':{'subnestkey':'value'}}}
d

{'key1': {'nestkey': {'subnestkey': 'value'}}}

In [217]:
# Keep calling the keys
d['key1']['nestkey']['subnestkey']

'value'

In [219]:
# create a dictionary
squares = {1:1, 2:4, 3:9, 4:16, 5:25}  

# remove a particular item
# Output: 16
print(squares.pop(4))  
# Output: {1: 1, 2: 4, 3: 9, 5: 25}
print(squares)

16
{1: 1, 2: 4, 3: 9, 5: 25}

In [221]:
# remove an arbitrary item
print(squares.popitem())

# Output: {2: 4, 3: 9, 5: 25}
print(squares)

(3, 9)
{1: 1, 2: 4}

In [222]:
# delete a particular item
del squares[1]  

# Output: {2: 4, 3: 9}
print(squares)

{2: 4}

In [223]:
# remove all items
squares.clear()

# Output: {}
print(squares)

{}

In [224]:
# delete the dictionary itself
del squares

# Throws Error
print(squares)

NameError: name 'squares' is not defined

- Dictionary Methods

In [225]:
marks = {}.fromkeys(['Math','English','Science'], 0)

# Output: {'English': 0, 'Math': 0, 'Science': 0}
print(marks)

for item in marks.items():
    print(item)

# Output: ['English', 'Math', 'Science']
list(sorted(marks.keys()))

{'Math': 0, 'English': 0, 'Science': 0}
('Math', 0)
('English', 0)
('Science', 0)

['English', 'Math', 'Science']

In [226]:
# Create a typical dictionary
d = {'key1':1,'key2':2,'key3':3}
print(d)

# Method to return a list of all keys 
print(d.keys())

{'key1': 1, 'key2': 2, 'key3': 3}
dict_keys(['key1', 'key2', 'key3'])

In [227]:
print(d.items())
print("setdefault(key[,d])", d.setdefault("alem",8))

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])
setdefault(key[,d]) 8

In [228]:
print(d.items())
x = {"a":6, "t":8}
print("update", d.update(x))

dict_items([('key1', 1), ('key2', 2), ('key3', 3), ('alem', 8)])
update None

In [229]:
print(d)

{'key1': 1, 'key2': 2, 'key3': 3, 'alem': 8, 'a': 6, 't': 8}

In [230]:
print("get:", d.get("u")) # no excpetion is raised

get: None

In [231]:
print("get:", d.get("u", "No key in dict!")) 
# no excpetion is raised

get: No key in dict!

In [232]:
print("get:", d.get("t"))

get: 8

In [233]:
d.setdefault("key3",8)

3

In [234]:
d.setdefault("brook",8)

8

In [235]:
d.values()

dict_values([1, 2, 3, 8, 6, 8, 8])

In [237]:
squares = {x: x*x for x in range(6)}
squares

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [238]:
1 in squares

True

In [239]:
2 not in squares

False

In [240]:
25 in squares

False

In [241]:
squares = {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
for i in squares:
    print(i, squares[i])

1 1
3 9
5 25
7 49
9 81

In [242]:
all(d)

True

In [243]:
any(d)

True

In [244]:
len(d)

7

In [245]:
d1 =d
d1.cmp(d)

AttributeError: 'dict' object has no attribute 'cmp'

In [247]:
d

{'key1': 1, 'key2': 2, 'key3': 3, 'alem': 8, 'a': 6, 't': 8, 'brook': 8}

In [246]:
sorted(d)

['a', 'alem', 'brook', 'key1', 'key2', 'key3', 't']

In [248]:
for k in d:
    print(k)

key1
key2
key3
alem
a
t
brook

### Boolean
- True/False
- <, >, ==, <=, >=, and !=

In [250]:
type(True)

bool

In [251]:
type(bool)

type

In [252]:
# None placeholder
b = None
b == None

True

In [253]:
"a">"z"

False

In [254]:
"az">"b"

False

### Stack
LIFO
- pop
- push
- size

In [267]:
# A simple class stack that only allows pop and push operations
class Stack:

    def __init__(self):
        self.stack = []

    def pop(self):
        if len(self.stack) < 1:
            return None
        return self.stack.pop()

    def push(self, item):
        self.stack.append(item)

    def size(self):
        return len(self.stack)

In [263]:
stack = Stack()
stack.size()

0

In [264]:
stack.push(5)

In [265]:
stack.push(89)

In [266]:
stack.size()

2

In [260]:
stack.pop()

89

In [261]:
stack.size()

1

### Queue
FIFO
- enqueue
- dequeue
- length

In [268]:
# And a queue that only has enqueue and dequeue operations
class Queue:

    def __init__(self):
        self.queue = []

    def enqueue(self, item):
        self.queue.append(item)

    def dequeue(self):
        if len(self.queue) < 1:
            return None
        return self.queue.pop(0)

    def size(self):
        return len(self.queue)

In [269]:
queue =  Queue()
queue.size()

0

In [270]:
queue.enqueue(456)

In [272]:
queue.enqueue(6533)

In [273]:
queue.size()

2

In [274]:
queue.queue

[456, 6533]

In [275]:
queue.dequeue()

456

In [276]:
queue.queue

[6533]

### Operators
- operands
- operators    
- PEMDAS

- Arithmetic: +, -, \*, /, //, %, **

In [295]:
8**0.5

2.8284271247461903

- Assignment: =, +=, -=, \*=, /=, %%=, //=, **=

In [296]:
c = 3
c**=4
c

81

In [314]:
s="alem "+"haddush "+ "fitwi"
s

'alem haddush fitwi'

In [315]:
s='alem'*10
s

'alemalemalemalemalemalemalemalemalemalem'

In [316]:
'alem'+5 # error

TypeError: can only concatenate str (not "int") to str

In [317]:
'alem'+str(5) # corrected

'alem5'

- Relational: ==, !=, <, >, <=,  >=, ^=, >>=, <<=, |=, &=

In [297]:
8!= 7

True

In [326]:
f= 3
f|=2
f

3

- Logical: not, and, or

In [298]:
True and False

False

In [299]:
not True

False

- Bitwise Logical: &, |, ~, >>, <<

In [300]:
2&0

0

In [309]:
True & True

True

In [301]:
2|0

2

In [323]:
x=10
y=~x
y

-11

In [324]:
-10-1

-11

In [302]:
~0

-1

In [319]:
-0-1

-1

In [318]:
~ -1

0

In [303]:
2>>3

0

In [304]:
2//2**3

0

In [305]:
2<<3

16

In [306]:
2*(2**3)

16

- Identity: is, is not

In [307]:
x = 8
y = x
x is y

True

In [308]:
t= 0,
h = 7
t is not h

True

- Membership: in, not in
    - string, list, tuple, set and dictionary

In [327]:
'h' in "hello"

True

In [328]:
5 in range(6)

True

- Ternary: [on true] if[expression][on false]

In [310]:
a, b =6,7
a if a>b else b

7

In [311]:
a if a<b else b

6

In [312]:
(b, a)[a < b]

6

In [313]:
{True: a, False: b} [a < b]

6

- BinaryToInteger

In [320]:
int(str(11100011),2)

227

- IntToBinary

In [321]:
bin(227)

'0b11100011'

In [322]:
int('0b11100011',2)

227

Precedence
1. ! ~ (type) ++ -- + - unary operators
2. \**
3. \* / %
4. \+ -    Binary Operators
5. << >>
6. < <= > >=
7. == !=
8. &
9. |
10. &&
11. ||
12. = += -= *= /= %= &= ^= |= >>= <<=

In [385]:
p=True;q=True;
not (p and q) == (not p) or (not q)

True

In [388]:
not ((p and q) == (not p) ) or (not q)

True

### Flow Control
- Conditional statements
- Looping constructs
- Flow Control Statements

- if stmt

In [392]:
n=90
if n>80:
    print("Yes",n)

Yes 90

- if-else stmt

In [393]:
n=90
if n>90:
    print("Yes",n)
else:
    print("90 or less")

90 or less

- if-elif-else stmt

In [395]:
n=90
if n>90:
    print("Yes",n)
elif n == 90:
    print("90")
else:
    print("Less than 90")

90

- for loop

In [398]:
numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]
sum1 = 0
for val in numbers:
    sum1 = sum1+val
sum1

48

In [401]:
for i in range(0, 10, 1):
    print(i, sep=",",end=" ")

0 1 2 3 4 5 6 7 8 9

In [403]:
digits = [0, 1, 5]
for i in digits:
    print(i, end=" ")
else:
    print("\nNo items left.") # if no breeak occurs

0 1 5
No items left.

In [404]:
digits = [0, 1, 5]
for i in digits:
    print(i, end=" ")
    if i==5:
        break
else:
    print("\nNo items left.") # if no breeak occurs

0 1 5

In [415]:
i = 111 
for i in range(2, 1): 
    print(i) 
else: 
    print("else:", i)

else: 111

In [405]:
#Erroneous
for i in range(2.0): # range takes only int
    print(i)

TypeError: 'float' object cannot be interpreted as an integer

In [406]:
#Empty string
for i in '':
    print(i)

In [407]:
#Even numbers
range(0,7,2)

range(0, 7, 2)

In [408]:
# Odd numbers
range(1,7,2)

range(1, 7, 2)

In [410]:
# Iterating via a list
for letter in 'Mekelle':
    print(letter, end="")

Mekelle

In [411]:
#Infinite for loops
def infinity():
    while True:
        yield

b=0
for _ in infinity():
    #pass
    print('inf')
    if b==3:
        break
    b+=1

inf
inf
inf
inf

In [412]:
#Infinite for loops
import itertools
b=0
for x in itertools.repeat(1):
    #pass
    print(x)
    if b==3:
        break
    b+=1

1
1
1
1

In [413]:
from itertools import cycle
b=0
for t in cycle(range(0, 4)):
    print(t)
    if b==6: 
        break
    b+=1

0
1
2
3
0
1
2

In [414]:
for i in range(0): #range must have at least one argument
    print("The value of i is currently", i)

In [422]:
a=[[1,2,3],[3,4,6],[2,7]]
[y for x in a if len(x) > 2 for y in x ]

[1, 2, 3, 3, 4, 6]

In [427]:
# for _ in range(val):you don’t care about the current 
  #value of the variable.
    
# Variable i is used in the body of the for-loop
for i in range (1, 3): 
    print(i)

1
2

In [428]:
# Variable i is not used in the body of the for-loop
for i in range (1, 3): 
    print("Hello")

Hello
Hello

In [429]:
for _ in range (1, 3): 
    print("Hello")

Hello
Hello

In [430]:
# r_ (from numpy import r_)
# format: r_[:size:step/blocksize]
from numpy import r_
import numpy as np
r_[np.array([1,2,3]), 0, 0, np.array([4,5,6])]

array([1, 2, 3, 0, 0, 4, 5, 6])

In [437]:
bb= np.r_[-1:1:6j, [0]*3, 5, 6]
for i in r_[:len(bb):2]:
    print(i, end=" ")

0 2 4 6 8 10

- while loop

In [416]:
sum1 = 0
i = 1
while i <= n:
    sum1 = sum1 + i
    i = i+1    # update counter
sum1

4095

In [417]:
# while loop with else
counter = 0
while counter < 3:
    print("Inside loop")
    counter = counter + 1
else:
    print("Inside else")

Inside loop
Inside loop
Inside loop
Inside else

In [418]:
counter = 0
while counter < 3:
    print("Inside loop")
    counter = counter + 1
    break
else:
    print("Inside else")

Inside loop

In [419]:
# Infinite while loops
i=0
while True:
    print(i)
    if i==3:
        break
    i+=1

0
1
2
3

In [420]:
i=0
while 1:
    print(i)
    if i==3:
        break
    i+=1

0
1
2
3

In [421]:
i=0
while 2==2:
    print(i)
    if i==3:
        break
    i+=1

0
1
2
3

- break

In [423]:
# Use of break statement inside loop
for val in "string":
    if val == "i":
        break
    print(val)

print("The end")

s
t
r
The end

- continue
    - skip to the next iteration

In [424]:
# Program to show the use of continue statement inside loops
for val in "string":
    if val == "i":
        continue
    print(val)

print("The end")

s
t
r
n
g
The end

- pass

In [425]:
sequence = {'p', 'a', 's', 's'}
for val in sequence:
    pass

def function(args):
    pass

class example:
    pass

### Functions
- Re-usable piece of code
- Created for solving a specific problem

In [438]:
def name_of_function(arg1,arg2):
    '''
    This is where the function's 
    Document String (docstring) goes
    '''
    return None

In [439]:
print(name_of_function.__doc__)

    This is where the function's
    Document String (docstring) goes

In [443]:
def is_prime2(num):
    '''
    Better method of testing primality. 
    '''
    if num % 2 == 0 and num > 2: 
        return False
    for i in range(3, int(num**0.5) + 1, 2):
        if num % i == 0:
            return False # operates like a break statment
    return True

import random
is_prime2(random.randint(1, 5000))

True

- global

In [446]:
# To change an outside var, declare it global
global y 
def outsidevar(x):  
    y = 7
    y=y+4 # Now this is possible
    return x+y
print(outsidevar(9))
print(f"The global var y is {y}")

20
The global var y is 11

In [447]:
# To change an outside var, declare it global
y=7
def outsidevar(x):
    global y    
    y=y+4 # Now this is possible
    return x+y
print(outsidevar(9))
print(f"The global var y is {y}")

20
The global var y is 11

- Arguments
    - Default Argument
    - Positional Argument
    - Keyword Argument
    - A mix of both

In [449]:
# Default argument of b is 5
def addab(a, b=5):
    return a+b

In [450]:
addab(7)

12

In [452]:
# positional arguments
def x(a, b):
    return a-b

In [456]:
x(6,7) #a=6, b=7; position arguments

-1

In [457]:
x(b=6,a=7) #a=6, b=7 keyword arguments

1

In [460]:
x(7, b=6)

1

- Recursive function
    - Recursion is a method of programming or coding a problem, in which a function calls itself one or more times in its body. Usually, it is returning the return value of this function call. If a function definition satisfies the condition of recursion, we call this function a recursive function.
    - **Termination condition**: A recursive function has to fulfil an important condition to be used in a program: it has to terminate. A recursive function terminates, if with every recursive call the solution of the problem is downsized and moves towards a base case. A **base case** is a case, where the problem can be solved without further recursion. A recursion can end up in an infinite loop, if the base case is not met in the calls.

https://python-course.eu/advanced-python/recursive-functions.php

In [461]:
# Factorial
def fact(n):
    if n==0:
        return 1
    return n*fact(n-1)

In [462]:
fact(2)

2

In [463]:
fact(20)

2432902008176640000

In [464]:
import math
math.factorial(20)

2432902008176640000

The Fibonacci numbers are defined by:

$F_n = F_{n-1} +F_{n-2}$

$F_2 = F_1 + F_0$ where $F_1 = 1 \& F_0 = 0$

$1=1+0$

In [474]:
def fib(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fib(n-1) + fib(n-2)

In [480]:
fb = []
n=2
for i in range(0,n):
    fb.append(fib(i))
fb

[0, 1]

In [484]:
# Iterative solution
def fibi(n):
    a, b = 0, 1
    if n == 0:
        return 0
    for i in range(n-1):
        a, b = b, a + b
    return b

In [485]:
fb = []
n=8
for i in range(0,n):
    fb.append(fibi(i))
fb

[0, 1, 1, 2, 3, 5, 8, 13]

1. Think of a recursive version of the function f(n) = 3 * n, i.e. the multiples of 3

$$f(1) = 3$$
$$f(n+1) = f(n) + 3$$

In [489]:
def mul3(n):
    if n==1:
        return 3
    return mul3(n-1)+3

In [497]:
lst = []
n =6
for i in range(1,n+1):
    lst.append(mul3(i))
lst

[3, 6, 9, 12, 15, 18]

2. Write a recursive Python function that returns the sum of the first n integers. (Hint: The function will be similiar to the factorial function!)

In [498]:
def sumr(n):
    if n==0:
        return 0
    else:
        return n+sumr(n-1)

In [501]:
sumr(100)

5050