# 0. Most Useful Functions or Techniques

### Compiled by :
      Alem H Fitwi, 
      PhD Student, ECE (Privacy, ML/DNN, & Chaotic Encryption)
      GA-Data Analystics Specialist,
      Binghamton University-State University of New York
      Since August, 2017

<div class="alert alert-block alert-warning">

## 0.0 PEP8 Based Naming Conventions
- Your naming should be PEP compliant

1. Never us small o or capital or for naming a variable. It resembles to zero.
    - O=0
    - o=0
2. Use lower cases for naming functions. If you use more than two words, link them using underscore.
    - my_function()
    - function()
3. For variables, use lower cases. If multiple words are used, separate them using underscores. Use a single letter only in mathematical cases.
    - x = 30
    - my_variable = 'two'
4. Use all uppercases for naming constants
    - GRAVITY_ACCEL = 9.8
5. With classes, Use capitalization and camel cases. No underscores are employed.
    - class ClassName
    - class Car
6. Module naming, use short words to keep things clean. Use underscore to concatenate words.
    - module.py
    - my_module.py
7. Package naming, use lower cases. If multiple words are employed, place them next to each other. 
    - package.py
    - mypackage.py

<div class="alert alert-block alert-warning">

## 0.1 Libraries & Packages
#### A. Data Structure

In [36]:
import pandas as pd
import numpy as np
import operator
from collections import Counter

# Get the key-value pair with max value
dict1 = {'A':12, 'B':67, 'C':23, 'D':7}
print("(key, value): ", max(dict1.items(), key = operator.itemgetter(1)))
print("key of max val:", max(dict1.items(), key = operator.itemgetter(1))[0])

(key, value):  ('B', 67)
key of max val: B

In [42]:

dict1[max(dict1, key = dict1.get)]

67

In [43]:
max(dict1.items(), key = operator.itemgetter(1))

('B', 67)

#### B. OS and File System

In [44]:
import os #os.remove(filepath), os.rename(r''+fnold, r''+fnnew)
import io
import shutil
import glob
import sys
import platform
import re
from sys import path # then, add module and package paths; path.append(path1)

In [16]:
path1 = 'Alem'
path2 = "Fitwi"
print("join paths:",os.path.join(path1, path2))
print("Join sep:", os.path.sep.join(['Alem', "Fitwi"]))
print("os.getcwd():", os.getcwd())

join paths: Alem/Fitwi
Join sep: Alem/Fitwi
os.getcwd(): /home/alem/Desktop/alemprojects/FinalNotes/1.1_Python

#### C. Database

In [17]:
import sqlite3
from sqlalchemy import create_engine
from IPython.display import Image
from IPython.display import HTML
import base64

#### D. Datetime

In [18]:
import time
from datetime import datetime as dtt
from datetime import date,timedelta

#### E. Dash

In [19]:
import dash
import dash_core_components as dcc
import dash_html_components as html
import plotly.graph_objs as go
from plotly.subplots import make_subplots
from dash.dependencies import Input, Output, State
import dash_table as dt
import dash_daq as daq

#### F. Network and Nodes

In [21]:
import getpass
import socket
import netifaces
import re, uuid

In [22]:
print("username:",getpass.getuser())
print("Now:",dtt.now())
print("MAC:",netifaces.ifaddresses('wlo1'
            )[netifaces.AF_LINK][0]['addr'])
print("MAC:",':'.join(re.findall('..','%012x' % uuid.getnode())))
print("hostname:",socket.gethostname())

username: alem
Now: 2021-04-16 13:40:22.248369
MAC: 10:f0:05:20:ae:95
MAC: 2f:37:a8:de:7d:3d
hostname: alem-HP-Pavilion-x360-Convertible

#### E. Others

In [23]:
import random
import warnings
warnings.simplefilter("ignore")
import flask
import urllib
from math import ceil, floor

<div class="alert alert-block alert-warning">

## 0.1 Change a pandas Column to Numeric

In [28]:
import random
import pandas as pd
dct = {'name':[chr(i) for i in range(65,70)],
       'values':[random.randint(1,1000) for i in range(65,70)]}
#dct['alem']='fitwi'
df = pd.DataFrame(dct)
#df.loc[(df['name'] == 'C'), 'values'] = 'AF'  
df['values'] = df['values'].astype('str')
df

  name values
0    A    665
1    B    462
2    C    707
3    D    452
4    E    924

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
name      5 non-null object
values    5 non-null object
dtypes: object(2)
memory usage: 208.0+ bytes

In [30]:
df['values'] = pd.to_numeric(df['values'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
name      5 non-null object
values    5 non-null int64
dtypes: int64(1), object(1)
memory usage: 208.0+ bytes

<div class="alert alert-block alert-warning">

## 0.2 Replace the last occurence of a pattern

In [31]:
s = 'mississipi'
old = 'iss'
new = 'XXX'
maxreplace = 1
result = new.join(s.rsplit(old, maxreplace))
result

'missXXXipi'

In [45]:
def replaceptrn(str1, oprn, nprn, maxp=1):
    return nprn.join(str1.rsplit(oprn, maxp))

replaceptrn('mississipi', 'iss', 'XXX', maxp=1)

'missXXXipi'

<div class="alert alert-block alert-warning">

## 0.3 Conditionally Creating a column

In [39]:
import numpy as np
sgra = {'ID':['AB','AC','AD','AE','AF','AG'],'Final Exam':[71,64,"H",89,np.nan ,100]}
dfg = pd.DataFrame(sgra)
dfg

   ID Final Exam
0  AB         71
1  AC         64
2  AD          H
3  AE         89
4  AF        NaN
5  AG        100

In [42]:
import warnings
warnings.simplefilter("ignore")

dfg['tmp'] = dfg['Final Exam'].apply(lambda x: 1000 if x=='H' else x)
dfg['tmp'] = dfg['tmp'].astype('float')

cnds2 = [((dfg["tmp"]>=70) & (dfg["tmp"]<=100)),
         (dfg["tmp"]<70),
         (dfg["tmp"]==1000),
         (dfg["tmp"]==pd.np.nan)]
          
vals2 = ['Passed', 'Failed', 'H','NaN']
dfg['Final Grade'] = np.select(cnds2,vals2)
dfg = dfg[['ID', 'Final Exam','Final Grade']]

cnds3 = [(dfg["Final Grade"].isin(['Passed'])),
         (dfg["Final Grade"].isin(['Failed'])),
         (dfg["Final Grade"].isin(['H'])),
         (~dfg["Final Grade"].isin(['Passed','Failed','H']))]
          
vals3 = ['Passed', 'Failed', 'H','NaN']
dfg['Final Grade'] = np.select(cnds3,vals3)
dfg

   ID Final Exam Final Grade
0  AB         71      Passed
1  AC         64      Failed
2  AD          H           H
3  AE         89      Passed
4  AF        NaN         NaN
5  AG        100      Passed

<div class="alert alert-block alert-warning">

## 0.4 Save formatted Excel File

In [46]:
import os
p = cpath="/home/alem/Desktop/SummerProject/0_finalJan22_2021/DashProject02June20/"
fname = 'alem'
exe = '.xlsx'
fp = os.path.join(p,fname,exe) # joins paths with / in between!
def replaceptrn(str1, oprn, nprn, maxp=1):
    return nprn.join(str1.rsplit(oprn, maxp))

replaceptrn(fp, '/', '', maxp=1)

'/home/alem/Desktop/SummerProject/0_finalJan22_2021/DashProject02June20/alem.xlsx'

In [ ]:
def save_Excel(path,fname):
    allname = path + fname + '.xlsx'
    writer = pd.ExcelWriter(allname, engine='xlsxwriter')
    df.to_excel(writer, sheet_name=fname, index=False)
    #Columns
    workbook  = writer.book
    worksheet1 = writer.sheets[fname]
    worksheet1.set_column('A:A', 54)
    worksheet1.set_column('B:B', 24)
    worksheet1.set_column('C:C', 24)
    worksheet1.set_column('D:D', 18)
    worksheet1.set_column('E:E', 18)
    worksheet1.set_column('F:F', 54)
    
    # Headers
    header_format = workbook.add_format({
        'bold': True, 'fg_color': '#D7E4BC','border': 1})
    for col_num, value in enumerate(df.columns.values):
        worksheet1.write(0, col_num, value, header_format)

    number_rows = len(df.index) + 1
    format1 = workbook.add_format({'bg_color': '#FFFF00'})
    format2 = workbook.add_format({'bg_color': '#FFA500'})
    
    worksheet1.conditional_format("$A$1:$F$%d" % (number_rows),
                             {"type": "formula",
                              "criteria": '=INDIRECT("C"&ROW())="Subtotal"',
                              "format": format1
                             })
    worksheet1.conditional_format("$A$1:$F$%d" % (number_rows),
                             {"type": "formula",
                              "criteria": '=INDIRECT("C"&ROW())="Grand Total"',
                              "format": format2
                             })
    writer.save()

<div class="alert alert-block alert-warning">

## 0.5 Date Range

In [49]:
from datetime import date, timedelta

sdate = date(2020,1,1)   # start date
edate = date(2020,12,31)   # end date

start_date_string = sdate.strftime('%d/%m/%Y')
end_date_string = edate.strftime('%d/%m/%Y')

drange = [(sdate + timedelta(days=x)).strftime("%d/%m/%Y")
              for x in range((edate-sdate).days + 1)]

# Filtering data based on time range
#profsmry1 = sm[sm['mmddyyyy'].isin(drange)]

In [50]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

<div class="alert alert-block alert-warning">

## 0.6 Edit Column Names/clean unnecessary spaces
- Apply a cleaning process before storing on a DB
- Replace it with original ones on reading the copies.

In [2]:
import pandas as pd
df1 = pd.read_excel("./0_Datasets/registrants_pu_APS_2020_04_13.xlsx")

In [3]:
# Replace spaces with underscore in columns
def replacespace(col):
    return [col.replace(' ', '_') for col in col]

# Preprocess columns of Registration Files
def replacespacer(col):
    tmp = [col.replace(' ', '_') for col in col]
    tmp = [col.strip(':') for col in tmp]
    tmp = [col.strip('?') for col in tmp]
    tmp = [col.replace('/', '_') for col in tmp]
    return tmp

In [5]:
print(replacespace(df1.columns))

['First_Name:', 'Last_Name:', 'Email_Address:', 'Address_1:', 'City:', 'State:', 'Education_Level:', 'Country:', 'ZIP_Code:', 'Phone:', 'Company/School:', 'Job_Title:', 'Department:', 'How_did_you_hear_about_this_course?', 'Registration_Date', 'Registration_Status', 'Payment_Status', 'Payment_Type', 'Fee_Type', 'Promo_Code', 'Code_Type', 'Discount_Percent', 'Discount_Amount', 'Total_Price']

In [6]:
print(replacespacer(df1.columns))

['First_Name', 'Last_Name', 'Email_Address', 'Address_1', 'City', 'State', 'Education_Level', 'Country', 'ZIP_Code', 'Phone', 'Company_School', 'Job_Title', 'Department', 'How_did_you_hear_about_this_course', 'Registration_Date', 'Registration_Status', 'Payment_Status', 'Payment_Type', 'Fee_Type', 'Promo_Code', 'Code_Type', 'Discount_Percent', 'Discount_Amount', 'Total_Price']

<div class="alert alert-block alert-warning">

## 0.7 Dates with pandas
- strftime()
- strptime()
- pd.to_datetime(str_Date, format)

In [16]:
import pandas as pd
from datetime import datetime as dtt
gra= pd.read_excel("./0_Datasets/grades_pu_AA_2020_12_18.xlsx")
cols = ['Last Name', 'First Name', 'Username', 'Student ID',
        'Last Access','Availability','Final Exam']
gra = gra[cols]
gra['Last Access'] = gra['Last Access'
    ].dt.strftime('%Y-%m-%d %H:%M:%S')
gra

,Last Name,First Name,Username,Student ID,Last Access,Availability,Final Exam
0,Lopez,Josue,b00650926,B00650926,2021-01-05 13:49:08,Yes,NaN
1,Qi,Caleb,b00689631,B00689631,2021-01-22 23:13:02,Yes,84.0

In [17]:
gra['Last Access'] = pd.to_datetime(gra['Last Access'])
gra

,Last Name,First Name,Username,Student ID,Last Access,Availability,Final Exam
0,Lopez,Josue,b00650926,B00650926,2021-01-05 13:49:08,Yes,NaN
1,Qi,Caleb,b00689631,B00689631,2021-01-22 23:13:02,Yes,84.0

<div class="alert alert-block alert-warning">

## 0.8 operator.itemgetter

In [2]:
import operator

centroids = [(23,45), (32,78), (67,34)]

xmin  = min(centroids, key=operator.itemgetter(0))
print("xmin:",xmin)
ymin = min(centroids, key=operator.itemgetter(1))
print("ymin:",ymin)
xmax  = max(centroids, key=operator.itemgetter(0))
print("xmax:",xmax)
ymax = max(centroids, key=operator.itemgetter(1))
print("ymax:",ymax)

xmin: (23, 45)
ymin: (67, 34)
xmax: (67, 34)
ymax: (32, 78)

<div class="alert alert-block alert-warning">

## 0.9 In-Place Swapping Of Two Numbers.

In [1]:
x, y = 10, 20
print(x, y)
x, y = y, x
print(x, y)

10 20
20 10

<div class="alert alert-block alert-warning">

## 0.10 Reversing a string in Python

In [1]:
a = "GeeksForGeeks"
print("Reverse is", a[::-1])

Reverse is skeeGroFskeeG

In [4]:
''.join(list(reversed(a)))

'skeeGroFskeeG'

<div class="alert alert-block alert-warning">

## 0.11 Create a single string from all the elements in list

In [5]:
a = ["Geeks", "For", "Geeks"]
print(" ".join(a))

Geeks For Geeks

<div class="alert alert-block alert-warning">

## 0.12 Chaining Of Comparison Operators.

In [6]:
n = 10
result = 1 < n < 20
print(result)
result = 1 > n <= 9
print(result)

True
False

<div class="alert alert-block alert-warning">

## 0.13 Print The File Path Of Imported Modules.

In [7]:
import os
import socket

print(os)
print(socket)

<module 'os' from '/home/alem/anaconda3/lib/python3.7/os.py'>
<module 'socket' from '/home/alem/anaconda3/lib/python3.7/socket.py'>

<div class="alert alert-block alert-warning">

## 0.14  Return Multiple Values From Functions.

In [9]:
def x():
    return 1, 2, 3, 4
a, b, c, d = x()
print(a, b, c, d)

1 2 3 4

<div class="alert alert-block alert-warning">

## 0.15 List Comprehensions
- new_list = [expression for item in iterable (if conditional)]

In [2]:
squares = [i**2 for i in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

<div class="alert alert-block alert-warning">

## 0.16  Find The Most Frequent Value In A List.

In [22]:
test = [1, 2, 3, 4, 2, 2, 3, 1, 4, 4, 4, 1,1,1,1,1]
print(max(set(test), key = test.count))

1

<div class="alert alert-block alert-warning">

## 0.17  Check The Memory Usage Of An Object.

In [12]:
 import sys
x = 1
print(sys.getsizeof(x))

28

<div class="alert alert-block alert-warning">

## 0.18 Print string N times

In [13]:
n = 2
a = "GeeksforGeeks"
print(a * n)

GeeksforGeeksGeeksforGeeks

<div class="alert alert-block alert-warning">

## 0.19 Checking if two words are anagrams

In [6]:
from collections import Counter
def is_anagram1(str1, str2):
    return Counter(str1) == Counter(str2)

# or without having to import anything
def is_anagram2(str1, str2):
    return sorted(str1) == sorted(str2)

print(is_anagram1('geek', 'eegk'))
print(is_anagram1('geek', 'peek'))

True
False

In [5]:
str1, str2 = 'geek', 'eegk'
Counter(str1)

Counter({'g': 1, 'e': 2, 'k': 1})

<div class="alert alert-block alert-warning">

## 0.20 Transpose a matrix

In [5]:
x = [[1,2,3],[4,5,6],[6,7,8]]
list(zip(*x))

[(1, 4, 6), (2, 5, 7), (3, 6, 8)]

In [3]:
import numpy as np
np.array(x)

array([[1, 2, 3],
       [4, 5, 6],
       [6, 7, 8]])

In [4]:
np.array(x).T

array([[1, 4, 6],
       [2, 5, 7],
       [3, 6, 8]])

<div class="alert alert-block alert-warning">

## 0.21 Creating a single string

In [27]:
a = ['I', 'am', 'here']
' '.join(a)

'I am here'

<div class="alert alert-block alert-warning">

## 0.22 Assign Multiple Variables in One Line

In [4]:
a, b, c = 1, 2, 3
print("a,b,c = ",a,b,c)

a,b,c =  1 2 3

<div class="alert alert-block alert-warning">

## 0.23 Enumerate
- Often when looping through a list you want to access not only the index with a position in the list but the actual element as well.

In [5]:
x = ['a', 'b', 'c']
for i, v in enumerate(x):
    print(f"(Index:{i},Value:{v})")

(Index:0,Value:a)
(Index:1,Value:b)
(Index:2,Value:c)

<div class="alert alert-block alert-warning">

## 0.24 The Dir Function
- dir() is a powerful inbuilt function in Python3, which returns a list of the attributes and methods of any object i.e. functions, modules, strings, lists, dictionaries etc.
- This can be very useful when having little to no information about the module and helps to learn new modules faster.

In [6]:
x = ['a', 'b', 'c']
dir(x)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

<div class="alert alert-block alert-warning">

## 0.25 Flatten Lists

In [9]:
import itertools
a = [[1, 2], [3, 4], [5, 6]]
b = list(itertools.chain.from_iterable(a))
print(b)

[1, 2, 3, 4, 5, 6]

In [ ]:
### Flattening complicated list of lists

In [13]:
import collections
def flatten(x):
    if isinstance(x, collections.Iterable):
        return [a for i in x for a in flatten(i)]
    else:
        return [x]

In [15]:
a = [[1, 2], [3, 4, [6,7,[5,9]]], [5, 6]]
flatten(a)

[1, 2, 3, 4, 6, 7, 5, 9, 5, 6]

<div class="alert alert-block alert-warning">

## 0.26 Inverting Dictionary

In [17]:
dict1={'a': 1, 'b': 2, 'c': 3, 'd': 4}
dict2={v: k for k, v in dict1.items()}
print(dict2)

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

- Remove Duplicate values by inverting a dictionary

In [14]:
lst = [1,2,3, 4,5,6,7,3,4,1,4,4]
keys = [i for i in range(len(lst))]
dict1 = {k:v for k, v in zip(keys, lst)}
dct2 = {}
dct2 = {v:k for k, v in dict1.items()}
dct2.items()

dict_items([(1, 9), (2, 1), (3, 7), (4, 11), (5, 4), (6, 5), (7, 6)])

In [16]:
lst = [1,2,3, 4,5,6,7,3,4,1,4,4]
def remove_dup(lst):
    keys = [i for i in range(len(lst))]
    dict1 = {k:v for k, v in zip(keys, lst)}
    dct2 = {}
    dct2 = {v:k for k, v in dict1.items()}
    
    return list(dct2.keys())

remove_dup(lst)

[1, 2, 3, 4, 5, 6, 7]

<div class="alert alert-block alert-warning">

## 0.27 Iterating over dictionary key and value pairs

In [24]:
dict1={'a': 1, 'b': 2, 'c': 3, 'd': 4}
for a, b in dict1.items():
    print('{}:{}'.format(a,b))

a:1
b:2
c:3
d:4

<div class="alert alert-block alert-warning">

## 0.28 Merging Dictionaries

In [17]:
x = {'a': 1, 'b': 2}
y = {'b': 3, 'c': 4}
z = {**x, **y}
z

{'a': 1, 'b': 3, 'c': 4}

In [20]:
x = {'a': 1, 'b': 2}
y = {'b': 3, 'c': 4}
x+y

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

<div class="alert alert-block alert-warning">

## 0.29 Initializing empty containers

In [21]:
a_list = list() #[]
a_dict = dict() #{}
a_set = set()
a_fset = frozenset()

<div class="alert alert-block alert-warning">

## 0.30 Collections
- https://www.edureka.co/blog/collections-in-python/
- Python programming language has four collection data types- **list, tuple, sets and dictionary**. But python also comes with a built-in module known as collections which has specialized data structures which basically covers for the shortcomings of the four data types.
- Collections module in python implements specialized data structures which provide alternative to pythons built-in container data types.
- Following are the subjects (Specialized Collection Data Structures) shrouded in this section:
    
        namedtuple( )
        deque
        ChainMap
        Counter
        OrderedDict
        defaultdict
        UserDict
        UserList

### namedtuple( )
- It returns a tuple with a named entry, which means there will be a name assigned to each value in the tuple. It overcomes the problem of accessing the elements using the index values. With namedtuple( ) it becomes easier to access these values, since you do not have to remember the index values to get specific elements.

In [14]:
from collections import namedtuple
a = namedtuple('courses' , 'name, tech')
s = a('data science' , 'python')
print(s)

courses(name='data science', tech='python')

In [15]:
#How To Create A namedtuple Using A List?
s._make(['data science' , 'python'])
#the output will be same as before.

courses(name='data science', tech='python')

### deque
- deque pronounced as deck is an optimized list to perform insertion and deletion easily.
- Similar to the built-in data types, there are several other operations that we can perform on a deque. Like counting elements or clearing the deque etc.

In [16]:
#creating a deque
from collections import deque 
a = ['d' , 'u' , 'r' , 'e' , 'k']
a1 = deque(a)
print(a1)

deque(['d', 'u', 'r', 'e', 'k'])

- Now lets take a look at how we will insert and remove items from deque.

In [17]:
a1.append('a')
print(a1)
a1.appendleft('e')
print(a1)

deque(['d', 'u', 'r', 'e', 'k', 'a'])
deque(['e', 'd', 'u', 'r', 'e', 'k', 'a'])

In [18]:
a1.pop()
print(a1)
a1.popleft()
print(a1)

deque(['e', 'd', 'u', 'r', 'e', 'k'])
deque(['d', 'u', 'r', 'e', 'k'])

### ChainMap
- It is a dictionary like class which is able to make a single view of multiple mappings. It basically returns a list of several other dictionaries. Suppose you have two dictionaries with several key value pairs, in this case ChainMap will make a single list with both the dictionaries in it.

In [30]:
from collections import ChainMap
a = { 1: 'edureka' , 2: 'python'}
b = {3: 'data science' , 4: 'Machine learning'}
c = ChainMap(a,b)
print(c)

ChainMap({1: 'edureka', 2: 'python'}, {3: 'data science', 4: 'Machine learning'})

In [20]:
type(c)

collections.ChainMap

- To access or insert elements we use the keys as index. But to add a new dictionary in the ChainMap we use the following approach.

In [21]:
a1 = { 5: 'AI' , 6: 'neural networks'}
c1 = c.new_child(a1)
print(c1)

ChainMap({5: 'AI', 6: 'neural networks'}, {1: 'edureka', 2: 'python'}, {3: 'data science', 4: 'Machine learning'})

In [23]:
a = { 1: 'edureka' , 2: 'python'}
b = {3: 'data science' , 4: 'Machine learning'}
c = {**a,**b}
c

{1: 'edureka', 2: 'python', 3: 'data science', 4: 'Machine learning'}

### Counter
- It is a dictionary subclass which is used to count hashable objects.

In [26]:
from collections import Counter
a = [1,1,1,1,2,3,3,4,3,3,4]
c = Counter(a)
print(c)

Counter({1: 4, 3: 4, 4: 2, 2: 1})

In [27]:
Counter("alem") == Counter("mela")

True

In [28]:
Counter("alem") == Counter("laem")

True

In [29]:
Counter("alem") == Counter("laeem")

False

- In addition to the operations you can perform on a dictionary Counter has 3 more operations that we can perform.
    - **element function**  It returns a list containing all the elements in the Counter.
    - **Most_common()**  It returns a sorted list with the count of each element in the Counter.
    - **Subtract()**  It takes an iterable object as an argument and deducts the count of the elements in the Counter.

### OrderedDict
- It is a dictionary subclass which remembers the order in which the entries were added. Basically, even if you change the value of the key, the position will not be changed because of the order in which it was inserted in the dictionary.

In [31]:
from collections import OrderedDict
od = OrderedDict()
od[1] = 'e'
od[2] = 'd'
od[3] = 'u'
od[4] = 'r'
od[5] = 'e'
od[6] = 'k'
od[7] = 'a'
print(od)

OrderedDict([(1, 'e'), (2, 'd'), (3, 'u'), (4, 'r'), (5, 'e'), (6, 'k'), (7, 'a')])

<div class="alert alert-block alert-warning">

## 0.31: getpass
- The getpass module provides two functions:
    1. getpass.getpass(prompt='Password: ', stream=None)
        - Prompt the user for a password without echoing. The user is prompted using the string prompt, which defaults to 'Password: '. On Unix, the prompt is written to the file-like object stream using the replace error handler if needed. stream defaults to the controlling terminal (/dev/tty) or if that is unavailable to sys.stderr (this argument is ignored on Windows).
        - getpass() prompts the user for a password without echoing. The getpass module provides a secure way to handle the password prompts where programs interact with the users via the terminal.

                    getpass() 
                    getpass.getpass(prompt='Password: ', stream=None) 
        - If echo free input is unavailable getpass() falls back to printing a warning message to stream and reading from sys.stdin and issuing a GetPassWarning.
        - Note If you call getpass from within IDLE, the input may be done in the terminal you launched IDLE from rather than the idle window itself.
        - exception getpass.GetPassWarning: A UserWarning subclass issued when password input may be echoed.

    2. getpass.getuser()
        - Return the login name of the user.
        - This function checks the environment variables LOGNAME, USER, LNAME and USERNAME, in order, and returns the value of the first one which is set to a non-empty string. If none are set, the login name from the password database is returned on systems which support the pwd module, otherwise, an exception is raised.
        - In general, this function should be preferred over os.getlogin().

In [5]:
# A simple Python program to demonstrate
# getpass.getpass() to read password
from getpass import getpass

try:
    p = getpass()
except Exception as error:
    print('ERROR', error)
else:
    print('Password entered:', p)

Password entered: alem

In [6]:
# A simple Python program to demonstrate
# getpass.getpass() to read security question
import getpass

p = getpass.getpass(prompt='Your favorite flower? ')

if p.lower() == 'rose':
    print('Welcome..!!!')
else:
    print('The answer entered by you is incorrect..!!!')

Your favorite flower?
Welcome..!!!

In [7]:
# Python program to demonstrate working of
# getpass.getuser()
import getpass

user = getpass.getuser()

while True:
    pwd = getpass.getpass("User Name : %s" % user)

    if pwd == 'abcd':
        print("Welcome!!!")
        break
    else:
        print("The password you entered is incorrect.")

User Name : alem
The password you entered is incorrect.
User Name : alem
Welcome!!!

<div class="alert alert-block alert-warning">

## https://holypython.com/100-python-tips-tricks/

In [8]:
import sys
import matplotlib.pyplot as plt
 
#string with all character letters
str1 = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789"
x_ax = [sys.getrefcount(i) for i in str1]
y_ax = range(len(str1))
Graph = plt.figure(figsize=(250,150))

plt.bar(y_ax, x_ax, align='center', color="orange")
plt.xticks(y_ax, str1)

plt.xlabel("Character")
plt.ylabel('sys.getrefcount(str)')
 
Graph.show()

/home/alem/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:16: UserWarning: Matplotlib is currently using module://ipykernel.pylab.backend_inline, which is a non-GUI backend, so cannot show the figure.
  app.launch_new_instance()

In [10]:
from itertools import count
index = count()
for i in range(10):
    print(next(index)+1)

1
2
3
4
5
6
7
8
9
10

In [11]:
c=9999
d=c.bit_length()
print(d)

14

## 0.32 Pipes

- Pipe is a Python library that enables you to use pipes in Python. A pipe (|) passes the results of one method to another method.
- I like Pipe because it makes my code look cleaner when applying multiple methods to a Python iterable. Since Pipe only provides a few methods, it is also very easy to learn Pipe. In this article, I will show you some methods I found the most useful.

In [12]:
!pip install pipe

Requirement already satisfied: pipe in /home/alem/anaconda3/lib/python3.7/site-packages (1.6.0)

#### Where  Filter Elements in an Iterable
 - Similar to SQL, Pipes where method can also be used to filter elements in an iterable.

In [13]:
from pipe import where
arr = [1,2,3,4,5]
list(arr | where(lambda x: x%2 == 0))

[2, 4]

#### Select  Apply a Function to an Iterable
- The select method is similar to the map method. select applies a method to each element of an iterable.
- In the code below, I use select to multiply each element in the list by 2.

In [14]:
from pipe import select
arr = [1,2,3,4,5]
list(arr | select(lambda x: x*2))

[2, 4, 6, 8, 10]

- Now, you might wonder: Why do we need the methods where and select if they have the same functionalities as map and filter ?
- It is because you can insert one method after another method using pipes. As a result, using pipes removes nested parentheses and makes the code more readable.

In [5]:
from pipe import where, select
arr = [1,2,3,4,5]
list(arr | where(lambda x: x%2==0)
         | select(lambda x: x*2))

[4, 8]

#### Unfold Iterables
- chain  Chain a Sequence of Iterables
- It can be a pain to work with a nested iterable. Luckily, you can use chain to chain a sequence of iterables.

In [1]:
from pipe import chain
nested = [[1,2,[3]], [4,5]]
list(nested | chain)

[1, 2, [3], 4, 5]

Even though the iterable is less nested after applying chain, we still have a nested list. To deal with a deeply nested list, we can use traverse instead.

#### traverse  Recursively Unfold Iterables
- The traverse method can be used to recursively unfold iterables. Thus, you can use this method to turn a deeply nested list into a flat list.

In [7]:
from pipe import traverse
nested = [[1,2,[3]], [4,5]]
list(nested | traverse)

[1, 2, 3, 4, 5]

Lets integrate this method with the select method to get the values of a dictionary and flatten the list.

In [8]:
from pipe import traverse, select
fruits = [{"name":"apple", "price":[2,5]},
          {"name": "orange", "price":4},
          {"name":"grape", "price":5}]
   
list(fruits
    |select(lambda fruit: fruit['price'])
    | traverse)

[2, 5, 4, 5]

#### Group Elements in a List
- Sometimes, it might be useful to group elements in a list using a certain function. That could be easily done with the groupby method.
- To see how this method works, lets turn a list of numbers into a dictionary that groups numbers based on whether they are even or odd.

In [32]:
from pipe import groupby, select
list(
     (1,2,3,4,5,6,7,8,9)
      |groupby(lambda x: "Even" if x%2==0 else "Odd"))

[('Even', <itertools._grouper at 0x7fc7e523d910>),
 ('Odd', <itertools._grouper at 0x7fc7892135d0>)]

In [18]:
from pipe import groupby, select
lst3 = (1,2,3,4,5,6,7,8,9)
dct = list(lst3
      |groupby(lambda x: "Even" if x%2==0 else "Odd")
      |select(lambda x:{x[0]: list(x[1])}))
dct

[{'Even': [2, 4, 6, 8]}, {'Odd': [1, 3, 5, 7, 9]}]

### dedup  Deduplicate Values Using a Key
- The dedup method removes duplicates in a list.

In [10]:
from pipe import dedup

arr = [1,2,2,3,4,5,6,6,7,9,3,3,1]
list(arr|dedup)

[1, 2, 3, 4, 5, 6, 7, 9]

- That might not sound interesting since the set method can do the same thing. However, this method is more flexible since it enables you to get unique elements using a key.
- For example, you can use this method to get a unique element that is smaller than 5 and another unique element that is larger than or equal to 5.

In [20]:
from pipe import dedup

arr = [1,2,2,3,4,5,6,6,7,11, 9,3,3,1,10]
list(arr|dedup(lambda key:key<5))

[1, 5]

- Now, lets combine this method with select and where to get the values of a dictionary that has duplicated keys and None values.

In [21]:
from pipe import dedup, select, where

data = [{"name":"apple", "count":2},
          {"name": "orange", "count":4},
          {"name":"grape", "count":None},
          {"name":"grape", "count":5}]
   
list(data
    |dedup(key = lambda data: data['name'])
    |select(lambda data: data['count'])
    |where(lambda count: isinstance(count, int)))

[2, 4]

https://www.freecodecamp.org/news/an-a-z-of-useful-python-tricks-b467524ee747/

https://towardsdatascience.com/20-python-programming-tips-and-tricks-for-beginners-25d44db03aea

https://data36.com/python-built-in-functions-methods-python-data-science-basics-3/

                                    ~End~